/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* ========================================= 
Quick Style Options
Use this top section to quickly edit colors 
and other style settings across the site.
===========================================*/
/* ========================================= 
COMPLETE COLORS SET
===========================================*/
a,
html {
  font-family: "Ubuntu";
}
li {
  line-height: 1.8;
}
h1 {
  font-family: Mr Dafoe, serif;
  font-size: 4rem;
  color: #842c25;
  margin: 5px 0;
  line-height: 1;
}
h2 {
  font-family: Racing Sans One, serif;
  font-size: 3rem;
  color: #842c25;
  margin: 5px 0;
  line-height: 1;
}
h3 {
  font-family: Alegreya SC, serif;
  font-size: 2rem;
  color: #a7a168;
  margin: 5px 0;
  line-height: 1;
}
h4 {
  font-family: Alegreya SC, serif;
  font-size: 1.5rem;
  color: #a7a168;
  margin: 5px 0;
  line-height: 1;
}
h5 {
  font-family: Alegreya SC, serif;
  font-size: 1rem;
  color: #271c1d;
  margin: 5px 0;
  line-height: 1.5;
}
h6 {
  font-family: Ubuntu, serif;
  font-size: 0.8rem;
  color: #a7a168;
  margin: 5px 0;
  line-height: 1.5;
}
p {
  font-family: Ubuntu, serif;
  font-size: 1rem;
  color: #271c1d;
  margin: 5px 0;
  line-height: 1.5;
}
.subtext {
  display: block;
  font-size: 80%;
}
a {
  color: #b35c64;
  text-decoration: none;
}
a:visited {
  color: #b35c64;
}
a:hover {
  color: #842c25;
}
.light-color {
  color: #f0ebeb;
}
.dark-color {
  color: #271c1d;
}
/* ========================================= 
CSS Functions for ease of writing
===========================================*/
.inline-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
}
.abs-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center-text {
  text-align: center;
}
/* ========================================= 
Responsive boxes & rows
===========================================*/
.page-wrapper {
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  height: auto;
}
.page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 40px;
  min-height: 100vh;
  background-color: #ffffff;
}
@media screen and (min-width: 1000px) {
  .page-section > .container {
    width: 876px;
  }
}
.page-section:nth-child(odd) {
  background-color: #f0ebeb;
}
.page-section:last-child,
.page-section:first-child {
  background-color: #b35c64;
  color: #f0ebeb;
}
.page-section.squished-page-section {
  min-height: auto;
  padding: 100px 40px;
}
.page-section.footer {
  min-height: auto;
  padding: 100px 40px;
  background-color: #453133;
}
.page-section.footer h3 {
  color: #f0ebeb;
}
@media screen and (max-width: 700px) {
  .mobile-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 40px;
    min-height: 100vh;
    background-color: #ffffff;
  }
  .mobile-page-section:nth-child(odd) {
    background-color: #f0ebeb;
  }
  .mobile-page-section:last-child,
  .mobile-page-section:first-child {
    background-color: #b35c64;
    color: #f0ebeb;
  }
}
@media screen and (max-width: 700px) and screen and (min-width: 1000px) {
  .mobile-page-section > .container {
    width: 876px;
  }
}
@media screen and (min-width: 700px) {
  .tablet-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 40px;
    min-height: 100vh;
    background-color: #ffffff;
  }
  .tablet-page-section:nth-child(odd) {
    background-color: #f0ebeb;
  }
  .tablet-page-section:last-child,
  .tablet-page-section:first-child {
    background-color: #b35c64;
    color: #f0ebeb;
  }
}
@media screen and (min-width: 700px) and screen and (min-width: 1000px) {
  .tablet-page-section > .container {
    width: 876px;
  }
}
@media screen and (min-width: 1000px) {
  .desktop-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 40px;
    min-height: 100vh;
    background-color: #ffffff;
  }
  .desktop-page-section:nth-child(odd) {
    background-color: #f0ebeb;
  }
  .desktop-page-section:last-child,
  .desktop-page-section:first-child {
    background-color: #b35c64;
    color: #f0ebeb;
  }
}
@media screen and (min-width: 1000px) and screen and (min-width: 1000px) {
  .desktop-page-section > .container {
    width: 876px;
  }
}
.container {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
}
.box-12 {
  width: 100%;
}
.box-11 {
  width: 91%;
}
.box-10 {
  width: 83%;
}
.box-9 {
  width: 75%;
}
.box-8 {
  width: 66%;
}
.box-7 {
  width: 58%;
}
.box-6 {
  width: 50%;
}
.box-5 {
  width: 41%;
}
.box-4 {
  width: 33%;
}
.box-3 {
  width: 25%;
}
.box-2 {
  width: 16%;
}
.box-1 {
  width: 8%;
}
@media screen and (max-width: 700px) {
  .box-mobile-12 {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-11 {
    width: 91%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-10 {
    width: 83%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-9 {
    width: 75%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-8 {
    width: 66%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-7 {
    width: 58%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-6 {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-5 {
    width: 41%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-4 {
    width: 33%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-3 {
    width: 25%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-2 {
    width: 16%;
  }
}
@media screen and (max-width: 700px) {
  .box-mobile-1 {
    width: 8%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-12 {
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-11 {
    width: 91%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-10 {
    width: 83%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-9 {
    width: 75%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-8 {
    width: 66%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-7 {
    width: 58%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-6 {
    width: 50%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-5 {
    width: 41%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-4 {
    width: 33%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-3 {
    width: 25%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-2 {
    width: 16%;
  }
}
@media screen and (min-width: 700px) {
  .box-tablet-1 {
    width: 8%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-11 {
    width: 91%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-10 {
    width: 83%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-9 {
    width: 75%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-8 {
    width: 66%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-7 {
    width: 58%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-6 {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-5 {
    width: 41%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-4 {
    width: 33%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-3 {
    width: 25%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-2 {
    width: 16%;
  }
}
@media screen and (min-width: 1000px) {
  .box-desktop-1 {
    width: 8%;
  }
}
@media screen and (max-width: 700px) {
  .mobile-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .tablet-hidden {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) {
  .desktop-hidden {
    display: none !important;
  }
}
.main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: url('../img/selfie.jpg');
  background-size: cover;
  border-bottom: 4px solid #453133;
}
@media screen and (min-width: 700px) {
  .main-screen {
    height: 100%;
  }
}
.main-screen h4,
.main-screen h5 {
  color: #c37f85;
  margin: 25px;
  font-weight: bold;
  text-shadow: 1px 1px #5c1f1a, -1px 1px #5c1f1a, 1px -1px #5c1f1a, -1px -1px #5c1f1a;
}
.main-screen h4 {
  font-size: 2em;
}
.main-screen h5 {
  font-size: 1.5em;
}
.main-screen h6 {
  color: #888888;
}
.main-screen hr {
  margin: 12px auto 36px;
}
.main-screen h1 {
  color: #f0ebeb;
  font-size: 6rem;
  text-shadow: 2px 2px #842c25, -2px 2px #842c25, 2px -2px #842c25, -2px -2px #842c25;
}
@media screen and (max-width: 700px) {
  .main-screen h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .main-screen h1 {
    font-size: 8rem;
  }
}
.main-screen.main-screen-layout-2 {
  align-items: bottom;
}
.main-screen.main-screen-layout-2 .image-text-overlay-center {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-end;
}
.main-screen.main-screen-layout-2 .image-text-overlay-center > div {
  padding: 25px 25px 45px;
}
@media screen and (max-width: 700px) {
  .main-screen.main-screen-layout-2 .image-text-overlay-center {
    padding: 10px;
    text-align: center;
  }
}
.main-screen.main-screen-layout-2 .title-hr {
  margin: 24px 0;
}
@media screen and (max-width: 700px) {
  .main-screen.main-screen-layout-2 .title-hr {
    margin: 24px auto;
  }
}
.main-screen.main-screen-layout-2 h1 {
  font-size: 4.5rem;
}
.main-screen.main-screen-layout-2 h4,
.main-screen.main-screen-layout-2 h5 {
  margin-top: 10px;
}
.main-screen.main-screen-layout-3 h6 {
  font-size: 2em;
}
.title-hr {
  width: 60%;
  margin: 36px auto;
}
.banner-quote {
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .banner-quote {
    padding: 75px;
  }
}
@media screen and (max-width: 700px) {
  .banner-quote {
    padding: 25px 0 50px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .banner-quote {
    padding: 25px 50px 50px;
  }
}
@media screen and (max-width: 700px) {
  .banner-quote h2 {
    font-size: 2.5rem;
  }
}
.banner-quote h4 {
  color: #f0ebeb;
}
.banner-quote h5 {
  color: #dbcdce;
}
.triple-intro h3 {
  margin-top: 25px;
}
.footer h3 {
  font-family: "Mr Dafoe";
  color: #f0ebeb;
}
/*
Top-nav
//------------------------------
Sticky nav bar for desktop and tablet
Collapseable for mobile. 
*/
#top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(#715154, #362728, #453133, #543c3e);
  border-bottom: 2px outset #271c1d;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 10;
}
#top-nav .logo-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
@media screen and (max-width: 700px) {
  #top-nav .logo-and-name {
    text-align: right;
    width: 100%;
  }
}
#top-nav .logo-and-name span {
  height: 36px;
  margin: 0 5px 0 15px;
}
#top-nav .logo-and-name h2 {
  display: none;
  padding: 5px 0;
  font-size: 2.5em;
  color: #f0ebeb;
}
@media screen and (max-width: 700px) {
  #top-nav .logo-and-name h2 {
    width: 100%;
    margin: 0;
    display: inline-block;
  }
}
#top-nav .logo-and-name h3 {
  display: inline-block;
  font-family: "Alegreya SC";
  color: #f0ebeb;
}
@media screen and (max-width: 700px) {
  #top-nav .logo-and-name h3 {
    display: none;
  }
}
#top-nav .logo-and-name h3 span {
  color: #842c25;
}
#top-nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
@media screen and (max-width: 700px) {
  #top-nav ul {
    width: 100%;
  }
}
@media screen and (min-width: 700px) {
  #top-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  #top-nav ul {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
  }
}
#top-nav ul li {
  width: 100%;
}
@media screen and (min-width: 700px) {
  #top-nav ul li {
    width: auto;
  }
}
#top-nav ul li a {
  display: block;
  padding: 15px;
  width: 100%;
  color: #d3a2a6;
  font-family: "Ubuntu";
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  #top-nav ul li a {
    background-color: rgba(39, 28, 29, 0.95);
  }
}
#top-nav.top-nav-transparent {
  background: none;
  border-color: transparent;
}
#top-nav.top-nav-transparent h3,
#top-nav.top-nav-transparent h2 {
  text-shadow: -1px -1px 0 #b35c64, 1px -1px 0 #b35c64, -1px 1px 0 #b35c64, 1px 1px 0 #b35c64;
}
@media screen and (max-width: 700px) {
  #top-nav.top-nav-transparent a {
    background-color: rgba(240, 235, 235, 0.95);
    text-shadow: -1px -1px 0 #b35c64, 1px -1px 0 #b35c64, -1px 1px 0 #b35c64, 1px 1px 0 #b35c64;
  }
}
#top-nav.top-nav-colorful {
  background-image: linear-gradient(#cb9096, #a74e56, #b35c64, #bb6d75);
  border-color: #842c25;
}
.form-colors {
  background-color: transparent;
  border: 2px solid #842c25;
  font-family: "Ubuntu";
}
.block-form {
  background-color: transparent;
  border: 2px solid #842c25;
  font-family: "Ubuntu";
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border-radius: 4px;
  display: block;
}
.block-form:hover {
  outline: 1px solid #dbcdce;
}
.block-form:focus {
  outline-color: #f0ebeb;
  outline-width: 2px;
  background-color: rgba(240, 235, 235, 0.7);
  font-weight: bold;
}
input[type=text] {
  background-color: transparent;
  border: 2px solid #842c25;
  font-family: "Ubuntu";
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border-radius: 4px;
  display: block;
}
input[type=text]:hover {
  outline: 1px solid #dbcdce;
}
input[type=text]:focus {
  outline-color: #f0ebeb;
  outline-width: 2px;
  background-color: rgba(240, 235, 235, 0.7);
  font-weight: bold;
}
input[type=submit] {
  font-family: "Alegreya SC";
}
select {
  background-color: transparent;
  border: 2px solid #842c25;
  font-family: "Ubuntu";
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border-radius: 4px;
  display: block;
}
select:hover {
  outline: 1px solid #dbcdce;
}
select:focus {
  outline-color: #f0ebeb;
  outline-width: 2px;
  background-color: rgba(240, 235, 235, 0.7);
  font-weight: bold;
}
textarea {
  background-color: transparent;
  border: 2px solid #842c25;
  font-family: "Ubuntu";
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px;
  border-radius: 4px;
  display: block;
}
textarea:hover {
  outline: 1px solid #dbcdce;
}
textarea:focus {
  outline-color: #f0ebeb;
  outline-width: 2px;
  background-color: rgba(240, 235, 235, 0.7);
  font-weight: bold;
}
.image {
  width: 100%;
}
.image img {
  display: block;
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
}
.image-text-overlay-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(39, 28, 29, 0.7);
  width: 100%;
  height: 100%;
}
.image-text-overlay-center a.primary-button:hover {
  color: #f0ebeb;
}
.image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 4px;
  margin: auto;
  width: 80%;
  overflow: hidden;
}
.image-overlay div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.image-overlay img {
  width: 100%;
}
.neat-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 4px;
  margin: auto;
  width: 80%;
  overflow: hidden;
  height: 150px;
}
.neat-img-overlay div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.neat-img-overlay img {
  width: 100%;
}
.neat-img-overlay div {
  background-color: rgba(179, 92, 100, 0.3);
}
.neat-img-overlay img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.light-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 4px;
  margin: auto;
  width: 80%;
  overflow: hidden;
}
.light-img-overlay div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.light-img-overlay img {
  width: 100%;
}
.light-img-overlay div {
  background-color: rgba(240, 235, 235, 0.3);
}
.dark-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 4px;
  margin: auto;
  width: 80%;
  overflow: hidden;
}
.dark-img-overlay div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.dark-img-overlay img {
  width: 100%;
}
.dark-img-overlay div {
  background-color: rgba(39, 28, 29, 0.3);
}
.color-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 4px;
  margin: auto;
  width: 80%;
  overflow: hidden;
}
.color-img-overlay div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.color-img-overlay img {
  width: 100%;
}
.color-img-overlay div {
  background-color: rgba(179, 92, 100, 0.3);
}
.image-attribution-box {
  width: 90%;
  margin: auto;
  border-radius: 4px;
  border: 1px outset #888888;
  padding: 10px 0;
  margin: 0 0 25px;
}
.image-attribution-box h4 {
  text-align: center;
  text-decoration: underline;
  margin: 10px;
}
.image-attribution-box h6 {
  font-style: italic;
  color: #842c25;
  margin: 10px;
}
.image-attribution-box img {
  display: block;
  width: 100%;
  border-radius: 0;
}
.grey-image-attribution-box {
  width: 90%;
  margin: auto;
  border-radius: 4px;
  border: 1px outset #888888;
  padding: 10px 0;
  margin: 0 0 25px;
  background-color: #dbcdce;
}
.grey-image-attribution-box h4 {
  text-align: center;
  text-decoration: underline;
  margin: 10px;
}
.grey-image-attribution-box h6 {
  font-style: italic;
  color: #842c25;
  margin: 10px;
}
.grey-image-attribution-box img {
  display: block;
  width: 100%;
  border-radius: 0;
}
.light-image-attribution-box {
  width: 90%;
  margin: auto;
  border-radius: 4px;
  border: 1px outset #888888;
  padding: 10px 0;
  margin: 0 0 25px;
  background-color: #f0ebeb;
}
.light-image-attribution-box h4 {
  text-align: center;
  text-decoration: underline;
  margin: 10px;
}
.light-image-attribution-box h6 {
  font-style: italic;
  color: #842c25;
  margin: 10px;
}
.light-image-attribution-box img {
  display: block;
  width: 100%;
  border-radius: 0;
}
.main-image-attribution-box {
  width: 90%;
  margin: auto;
  border-radius: 4px;
  border: 1px outset #888888;
  padding: 10px 0;
  margin: 0 0 25px;
  background-color: #c37f85;
}
.main-image-attribution-box h4 {
  text-align: center;
  text-decoration: underline;
  margin: 10px;
}
.main-image-attribution-box h6 {
  font-style: italic;
  color: #842c25;
  margin: 10px;
}
.main-image-attribution-box img {
  display: block;
  width: 100%;
  border-radius: 0;
}
.default-button,
a.default-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 4px;
  border: 2px solid #f0ebeb;
  color: #271c1d;
  background-color: #f0ebeb;
}
@media screen and (min-width: 1000px) {
  .default-button,
  a.default-button {
    width: 200px;
    margin: 5px;
  }
}
.default-button:hover,
a.default-button:hover {
  border: 2px outset #f0ebeb;
  color: #f0ebeb;
  background: none;
}
.primary-button,
a.primary-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 4px;
  border: 2px solid #842c25;
  color: #f0ebeb;
  background-color: #842c25;
}
@media screen and (min-width: 1000px) {
  .primary-button,
  a.primary-button {
    width: 200px;
    margin: 5px;
  }
}
.primary-button:hover,
a.primary-button:hover {
  border: 2px outset #842c25;
  color: #842c25;
  background: none;
}
.secondary-button,
a.secondary-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 4px;
  border: 2px solid #a7a168;
  color: #f0ebeb;
  background-color: #a7a168;
}
@media screen and (min-width: 1000px) {
  .secondary-button,
  a.secondary-button {
    width: 200px;
    margin: 5px;
  }
}
.secondary-button:hover,
a.secondary-button:hover {
  border: 2px outset #a7a168;
  color: #a7a168;
  background: none;
}
.cancel-button,
a.cancel-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 4px;
  border: 2px solid #d92e32;
  color: #f0ebeb;
  background-color: #d92e32;
}
@media screen and (min-width: 1000px) {
  .cancel-button,
  a.cancel-button {
    width: 200px;
    margin: 5px;
  }
}
.cancel-button:hover,
a.cancel-button:hover {
  border: 2px outset #d92e32;
  color: #d92e32;
  background: none;
}
.confirm-button,
a.confirm-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  font-size: 1.2em;
  border-radius: 4px;
  border: 2px solid #5a6e32;
  color: #f0ebeb;
  background-color: #5a6e32;
}
@media screen and (min-width: 1000px) {
  .confirm-button,
  a.confirm-button {
    width: 200px;
    margin: 5px;
  }
}
.confirm-button:hover,
a.confirm-button:hover {
  border: 2px outset #5a6e32;
  color: #5a6e32;
  background: none;
}
.accordion {
  vertical-align: center;
}
.accordion .fas {
  border: 2px solid #b35c64;
  font-size: 20px;
  border-radius: 25px;
  width: 26px;
  height: 26px;
}
/* ========================================= 
SPECIFIC OBJECTS
===========================================*/
.well {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #271c1d;
  background-color: #dbcdce;
}
.example-boxes div {
  text-align: center;
  background-color: #dbcdce;
  padding: 1%;
  margin: 5px 0;
  border: 1px solid #271c1d;
  border-radius: 4px;
}
.example-image img {
  width: 100%;
}
.triple-intro-one img {
  width: 100%;
}
.tiit {
  margin-top: -43px;
}
.tiit h3 {
  display: block;
  border-top: 1px solid #dbcdce;
  background-color: #b35c64;
  font-family: "Racing Sans One";
  padding: 10px 0 5px;
  margin-bottom: 0;
  color: #842c25;
  text-align: center;
}
.tiit p {
  background-color: #b35c64;
  margin-top: 0;
  padding: 5px 20px 20px 32px;
  height: 125px;
  text-align: left;
  color: #f0ebeb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 2px solid #842c25;
}
@media screen and (max-width: 700px) {
  .tiit p {
    height: auto;
  }
}
.tiip {
  background-size: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tic .tii:nth-child(1) .tiip {
  background-image: url("../img/design.jpg");
}
.tic .tii:nth-child(2) .tiip {
  background-image: url("../img/development.jpg");
}
.tic .tii:nth-child(3) .tiip {
  background-image: url("../img/marketing.jpg");
}
.tiip > div {
  width: 100%;
  height: 200px;
  background-color: rgba(179, 92, 100, 0.7);
}
.tiip .fas {
  width: 100%;
  text-align: center;
  height: 100%;
  color: #dbcdce;
  font-size: 5em;
  margin-top: 35px;
  text-shadow: 1px 1px #5c1f1a, -1px 1px #5c1f1a, 1px -1px #5c1f1a, -1px -1px #5c1f1a;
}
#portfolio h6 {
  color: #5c1f1a;
  position: absolute;
  color: transparent;
}
#portfolio h4 {
  color: transparent;
  position: absolute;
  top: 0;
  font-family: "Racing Sans One";
}
#portfolio .image-attribution-box {
  margin-top: 16px;
  width: 100%;
  border: 0px solid transparent;
}
#portfolio .image-attribution-box .neat-img-overlay {
  width: 100%;
  height: 200px;
  overflow: visible;
}
#portfolio .image-attribution-box .neat-img-overlay div {
  background-color: rgba(240, 235, 235, 0.3);
}
#portfolio .image-attribution-box:hover .neat-img-overlay div {
  background-color: rgba(39, 28, 29, 0.9);
}
#portfolio .image-attribution-box:hover .neat-img-overlay h6 {
  color: #f0ebeb;
}
#portfolio .image-attribution-box:hover .neat-img-overlay h4 {
  color: #b35c64;
}
#portfolio .secondary-button {
  background-color: #bab588;
  width: auto;
  position: absolute;
  bottom: -28px;
}
