//-------------
//INDIVIDUAL PROJECT LESS
//Insert code specific to your site & overrides here.
//-------------
.example-boxes {
    div {
        text-align: center;
        background-color: @dark-light-color;
        padding:1%;
        margin: 5px 0;
        border: @default-border;
        border-radius: @default-border-radius;
    }
}
.example-image img {
    width:100%;
}


  .triple-intro-one img {
    width:100%;
  }
  .tiit {
    margin-top:-43px;
  }
  .tiit h3 {
    display:block; 
    border-top:1px solid #dbcdce;
    
    border-bottom:2px solid @dark-highlight-color;
    background-color:@main-color;
    font-family:@top-text-font;
    padding:10px 0 10px;
    margin-bottom:0;
    color:#842c25;
    text-align:center;
  }
  
  
  .tiit p {
    background-color:@light-highlight-color;
    margin-top:0;
    padding:10px 20px 20px 32px;
    
    text-align:left;
    color:@light-color;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom:2px solid #842c25;
    @media @mobile { height:auto;}
  }
  
  .tiip {
    background-size:cover;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
  }

  .tic .tii:nth-child(1) .tiip {
    background-image:url("../img/design.jpg");
  }
  .tic .tii:nth-child(2) .tiip {
    background-image:url("../img/development.jpg");
  }
  .tic .tii:nth-child(3) .tiip {
    background-image:url("../img/marketing.jpg");
  }

  .tiip > div {
    width:100%;
    height:200px;
    background-color:@transparent-main-color;
  }
  
  .tiip .fas {
    width:100%;
    text-align:center;
    height:100%;
    color:@dark-light-color;
    font-size:5em;
    margin-top:35px;
    text-shadow:1px 1px @dark-highlight-color, -1px 1px @dark-highlight-color, 1px -1px @dark-highlight-color, -1px -1px @dark-highlight-color; 
  }










#portfolio {
    h6 {
        color:@dark-highlight-color;
        position: absolute;
        color:transparent;
        width:100%;
        left:0;
        margin:0;
        padding:6px;

    }
    h4 {
        padding:6px;
        width:100%;
        left:0;
        margin:0;
        color:transparent;
        position: absolute;
        top:0;
        font-family:@top-text-font;
    }
    .image-attribution-box {
        margin:0;
        padding:8px;
        width:100%;
        border:0px solid transparent;

        .neat-img-overlay{
            width:100%;
            height:200px;
            border:4px inset @main-color;
            border-bottom-width:4px;
            div { 
                background-color:fadeOut(@transparent-light-color, 40%); 
            } 
        }
        &:hover .neat-img-overlay {
            div { 
                background-color:fadeIn(@transparent-dark-color, 20%); 
            }
            h6 { color: @light-color; }
            h4 { color: @secondary-color; }
        } 
    }
    .secondary-button { 
        background-color:transparent;
        border:0px solid transparent;
        color:@secondary-color;
        text-shadow:1px 1px @dark-color,-1px -1px @dark-color,-1px 1px @dark-color,1px -1px @dark-color;  
        width:auto; 
        position:absolute; 
        bottom:-13px;
    }
}




.form-subtext {
  .subtext();
  margin-top:-15px;
  margin-bottom:20px;
  color:@dark-light-color;
  font-style:italic;
  &::before { content:"("; }
  &::after { content:")"; }
}

#footer {
  span {
    font-size:15px;
  }
  a {
    color:@light-main-color;
  }
}